body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/** Navigation Bar **/

nav {
  width:100%;
  position:fixed;
  top:0;
  min-height: 10px;
  background-color: rgb(175, 15, 15);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav > ul {
  padding:0;
  display: flex;
  flex-direction: row;
}

nav > ul > li {
  list-style: none;
  margin: 0 4em 0 0;
}

nav > ul > li > a {
  display:block;
  color:white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  opacity: 0.5;
}

/** Welcome Section **/

#welcome-section {
  height: 100vh;
  background-color: #383838;
  background: linear-gradient(#332525, #383838);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  color:white;
  font-size:3rem;
  margin-bottom:0px;
  padding-bottom: 0px;
}

#welcome-section p {
  color:rgb(175, 15, 15);
  font-size: 2rem;
  font-style: italic;
  font-weight: 100;
  opacity: 0.7;
  margin-top:0;
}

/** Projects Section **/

#projects {
  background-color: rgb(64, 88, 160);
  text-align: center;
  padding:1rem 2rem;
}

#projects > h2 {
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 2px white solid;
  padding: 1rem;
  color:white;
  max-width: 640px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  margin-bottom:0;
}

.project-title {
  font-size: 1.2rem;
  background-color: #383838;
  padding: 1rem;
  margin-top:0;q
}

.code:hover {

}

#grid > a {
  text-decoration: none;
  color:white;
}

#grid > a:hover {
  color: orangered;
  transition: color 0.3s ease-out;
}


/** TO-D0: 
    - STYLE FOOTER
        - INCLUDE MEDIA@ SCREEN AND (MAX-WIDTH:768PX) style
**/

#contact {
  background-color : #383838;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  padding-top:5rem;
  padding-bottom: 6rem;
  border-bottom: 2px red solid;
}

#contact > h2 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#contact > p {
  font-style: italic;
  font-size:1.2rem;
  font-weight: 100;
}

#contact > a {
  text-decoration: none;
  color:white;
}

#contact > a:hover {
  color:lightgray;
}

footer {
  background-color: #383838;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:lightgray;
  padding:2rem;
}

#disclaimer {
  padding-right: 33%;
  width:650px;
}

#copyright > a {
  text-decoration: none;
  color:lightgray;
}

@media screen and (max-width:768px) {

footer {
  text-align: center;
  flex-direction: column;

 }

 #disclaimer {
   padding-right:0;
   width:auto;
   margin-bottom:1rem;
}